* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: #fff;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #000;
}

.swiper-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}
